{% extends 'base.html' %}
{% block head %}
    <meta charset="UTF-8">
    <title>Upload</title>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("submitButton").addEventListener("click", function () {
                // Hide the submit button
                this.style.display = "none";

                // Show the progress animation
                document.getElementById("progressContainer").style.display = "block";
            });
        });
    </script>
{% endblock %}

{% block body %}
<form class="upload-form" method="POST" enctype="multipart/form-data" action="/analyze_urls">
    <label for="csvFile" class="file-label">Upload a CSV file of URLs:</label>
    <input type="file" id="csvFile" name="file" accept=".csv" required>
    <button type="submit" id="submitButton" class="submit-button">Upload</button>
    <div id="progressContainer" class="progress-container">
        <div id="progressBar" class="progress-bar"></div>
    </div>
</form>
{% endblock %}